html, body, #map-canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    height: 100%;
    width: 100%;
}

#container{
    padding: 0px;
    height: 100%;
    width: 100%;
}

.div_left_panel{
    min-height: 100%;
    height: 100%;
    border-right: 1px #000000 solid;
    padding: 0;
    float: left;
    width: 33%;
}

.div_right_panel{
    min-height: 100%;
    height: 100%;
    padding: 0;
    width: 66%;
    float: left;
}

.div_search_panel{
    height: 330px;
    min-height: 330px;
    padding: 10px;
    border-bottom: 1px #000000 solid;
}

.div_search_result_panel{
    max-height: calc(100% - 330px);
    /*height: 100%;*/
    clear: left;
    overflow:hidden; overflow-y:scroll;
}

#map-canvas{
    position: relative;
}

.result_block{
    background-color:#F0F0F0 ;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: dotted 2px #ffffff;
    padding: 2px;
}

.result_block:hover{
    background-color: #d9d9d9;
}

.result_block_image{
    padding: 5px;
    width: 90px;
    height: 90px;
    float: left;
}

.result_block_image_control{
    width: 100px;
    height: 120px;
    vertical-align: middle;
    float: left;
}

.result_block_info_control{}

.row{
    width: 100%;
}

address{
    margin-bottom: 5px;
}

.result_address{
    margin-bottom: 5px;
}




